/* Global Styles */
* {
    font-family: sans-serif;
}


/* Title styles */

.title {
    text-align: center;
    font-size: 2rem;
}

/* Main Image Styles */
#big-image img {
    /* adjust the values below */
    border-radius: 50px;
    width: 35%;
    height: auto;
}
/* Container */

.body {
    text-align: center;
}

/* Footer styles */

footer {
    text-align: right;
}
